{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'server_connections/connections.css' %}">
</head>
<body>
    <div id="read-only-view">
        <dl class="row">
            <dt class="col-sm-4">Method</dt>
            <dd class="col-sm-8">{{ form.model.choice_name }}</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Name</dt>
            <dd class="col-sm-8">{{ form.profile.value }}</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">IKE Version</dt>
            <dd class="col-sm-8">{{ form.version.value }}</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Server Address</dt>
            {% if not form.local_addrs.value %}
                <dd class="col-sm-8">-</dd>
            {% else %}
                <dd class="col-sm-8">{{ form.local_addrs.value }}</dd>
            {% endif %}
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Remote Address</dt>
            {% if not form.remote_addrs.value %}
                <dd class="col-sm-8">-</dd>
            {% else %}
                <dd class="col-sm-8">{{ form.remote_addrs.value }}</dd>
            {% endif %}
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Pool Name</dt>
            <dd class="col-sm-8">{{ form.initial.pool.poolname }}</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Send Certificate Request</dt>
            <dd class="col-sm-8">{{ form.send_certreq.value }}</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Start Action</dt>
            {% if not form.start_action.value %}
                <dd class="col-sm-8">-</dd>
            {% else %}
                <dd class="col-sm-8">{{ form.start_action.value }}</dd>
            {% endif %}
        </dl>
        <dl class="row">
            {% for key, value in form.remote_auth.field.choices %}
                {% if form.remote_auth.value|slugify == key|slugify %}
                    <dt class="col-sm-4">Remote Authentication</dt>
                    <dd class="col-sm-8">{{ value }}</dd>
                {% endif %}
            {% endfor %}
        </dl>
        <dl class="row">
            {% if form.connection_type == 'site_to_site' or connection.connection_type == 'site_to_site' %}
                <dt class="col-sm-4">Active initiator</dt>
                <dd class="col-sm-8">{{ form.initiate.value }}</dd>
            {% endif %}
        </dl>
        <dl class="row">
            {% for choise in form.certificate.field.queryset %}
                {% if form.certificate.value|slugify == choise.id|slugify %}
                    <dt class="col-sm-4">Certificate</dt>
                    <dd class="col-sm-8">{{ choise }}</dd>
                {% endif %}
            {% endfor %}
        </dl>
        <dl class="row">
            {% for value, identity_choice in form.identity.field.choices %}
                {% if form.identity.value|slugify == value|slugify %}
                    <dt class="col-sm-4">Identity</dt>
                    <dd class="col-sm-8">{{ identity_choice }}</dd>

                    <dt class="col-sm-4">Identity Type</dt>
                    <dd class="col-sm-8">{{ identity_choice.type }}</dd>
                {% endif %}
            {% endfor %}
        </dl>
        <dl class="row">
            {% for choise in form.certificate_ca.field.queryset %}
                {% if form.certificate_ca.value|slugify == choise.id|slugify %}
                    <dt class="col-sm-4">CA Certificate</dt>
                    <dd class="col-sm-8">{{ choise }}</dd>
                {% endif %}
            {% endfor %}
        </dl>
        <dl class="row">
            {% if form.identity_ca.value %}
                <dt class="col-sm-4">CA Identity</dt>
                <dd class="col-sm-8">{{ form.identity_ca.value }}</dd>
            {% endif %}
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Local traffic selector</dt>
            {% if not form.local_ts.value %}
                <dd class="col-sm-8">-</dd>
            {% else %}
                <dd class="col-sm-8">{{ form.local_ts.value }}</dd>
            {% endif %}
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Remote traffic selector</dt>
            {% if not form.remote_ts.value %}
                <dd class="col-sm-8">-</dd>
            {% else %}
                <dd class="col-sm-8">{{ form.remote_ts.value }}</dd>
            {% endif %}
        </dl>
    </div>
</body>
</html>